USE [master]
GO
/****** Object:  Database [MBaza]    Script Date: 29.05.2021 20:23:42 ******/
CREATE DATABASE [MBaza]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MBaza', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MBaza.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MBaza_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MBaza_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MBaza].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MBaza]
GO
/****** Object:  Schema [dane]    Script Date: 29.05.2021 20:23:42 ******/
CREATE SCHEMA [dane]
GO
/****** Object:  Schema [danee]    Script Date: 29.05.2021 20:23:42 ******/
CREATE SCHEMA [danee]
GO
/****** Object:  Schema [Sprzedaz]    Script Date: 29.05.2021 20:23:42 ******/
CREATE SCHEMA [Sprzedaz]
GO
/****** Object:  Schema [SprzedazGO]    Script Date: 29.05.2021 20:23:42 ******/
CREATE SCHEMA [SprzedazGO]
GO
/****** Object:  Table [dane].[ObszarZagrozony]    Script Date: 29.05.2021 20:23:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dane].[ObszarZagrozony](
	[Data] [date] NOT NULL,
	[Miasto] [varchar](20) NOT NULL,
	[SluzbaRatunkowa] [varchar](40) NOT NULL,
	[NazwaRzeki] [varchar](20) NOT NULL,
	[Miejscowosc] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Miejscowosc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[widok]    Script Date: 29.05.2021 20:23:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[widok] AS
SELECT * FROM dane.ObszarZagrozony;
GO
/****** Object:  Table [dane].[PomiarRzeki]    Script Date: 29.05.2021 20:23:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dane].[PomiarRzeki](
	[PoziomWody] [float] NOT NULL,
	[DataPomiaru] [date] NOT NULL,
	[StandardowyPoziom] [float] NOT NULL,
	[NazwaRzeki] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NazwaRzeki] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PomiarMiejscowosc]    Script Date: 29.05.2021 20:23:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[PomiarMiejscowosc] AS
SELECT Data,Ob.NazwaRzeki,Miasto,SluzbaRatunkowa,Miejscowosc,PoziomWody,DataPomiaru,StandardowyPoziom
FROM dane.ObszarZagrozony Ob INNER JOIN dane.PomiarRzeki  Pr ON Ob.NazwaRzeki = Pr.NazwaRzeki;
GO
/****** Object:  Table [dane].[IMGWOgolneDane]    Script Date: 29.05.2021 20:23:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dane].[IMGWOgolneDane](
	[Data] [date] NOT NULL,
	[IloscOpadow] [float] NOT NULL,
	[PoziomWod] [float] NOT NULL,
	[Temperatura] [float] NOT NULL,
	[Miasto] [varchar](20) NOT NULL,
	[IMGWStanZagrozenia] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IMGWStanZagrozenia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dane].[ObszaryZalewowe]    Script Date: 29.05.2021 20:23:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dane].[ObszaryZalewowe](
	[NazwaRzeki] [varchar](20) NOT NULL,
	[Miasto] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NazwaRzeki] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dane].[OstrzeganieInstytucji]    Script Date: 29.05.2021 20:23:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dane].[OstrzeganieInstytucji](
	[SluzbaRatunkowa] [varchar](40) NOT NULL,
	[StanZagrozenia] [varchar](10) NOT NULL,
	[Data] [date] NOT NULL,
	[MiastoOrganizacji] [varchar](20) NOT NULL,
	[MiejscowoscOrganizacji] [varchar](20) NOT NULL,
	[MiejscowoscZagrozona] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MiejscowoscOrganizacji] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dane].[PowiadomienieSMS]    Script Date: 29.05.2021 20:23:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dane].[PowiadomienieSMS](
	[NumerTelefonu] [varchar](15) NOT NULL,
	[StanZagrozenia] [varchar](10) NOT NULL,
	[Miasto] [varchar](20) NOT NULL,
	[Data] [date] NOT NULL,
	[Miejscowosc] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NumerTelefonu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dane].[PowodzieHistoryczne]    Script Date: 29.05.2021 20:23:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dane].[PowodzieHistoryczne](
	[Miasto] [varchar](20) NOT NULL,
	[IloscDniDeszczowych] [int] NOT NULL,
	[DataPowodzi] [date] NOT NULL,
	[Miejscowosc] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Miejscowosc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dane].[PrognozaPogody]    Script Date: 29.05.2021 20:23:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dane].[PrognozaPogody](
	[Data] [date] NOT NULL,
	[IloscOpadow] [float] NOT NULL,
	[RodzajPogody] [varchar](10) NOT NULL,
	[Miasto] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dane].[ObszarZagrozony]  WITH CHECK ADD  CONSTRAINT [NazwaRzeki] FOREIGN KEY([NazwaRzeki])
REFERENCES [dane].[PomiarRzeki] ([NazwaRzeki])
GO
ALTER TABLE [dane].[ObszarZagrozony] CHECK CONSTRAINT [NazwaRzeki]
GO
ALTER TABLE [dane].[OstrzeganieInstytucji]  WITH CHECK ADD  CONSTRAINT [Miejscowosc] FOREIGN KEY([MiejscowoscZagrozona])
REFERENCES [dane].[ObszarZagrozony] ([Miejscowosc])
GO
ALTER TABLE [dane].[OstrzeganieInstytucji] CHECK CONSTRAINT [Miejscowosc]
GO
ALTER TABLE [dane].[PowiadomienieSMS]  WITH CHECK ADD  CONSTRAINT [Miejscowosc2] FOREIGN KEY([Miejscowosc])
REFERENCES [dane].[ObszarZagrozony] ([Miejscowosc])
GO
ALTER TABLE [dane].[PowiadomienieSMS] CHECK CONSTRAINT [Miejscowosc2]
GO
USE [master]
GO
